body {
    background-image: url(./img/Фон\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.header_container {
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container {
    display: flex;
    justify-content: space-between;
}

.slogan_title {
    margin: 18px 0 18px 79px;
    display: flex;
    width: 157px;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}



.botoom_header {
    margin-left: 580px;
    margin-top: 14px;
}


.botoom_header,
svg {
    padding-left: 24px;
}

.left_border {
    width: 1px;
    height: 19px;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    margin-top: 18px;

}

.text_header {
    margin-right: 79px;
    margin-top: 23px;
    margin-bottom: 18px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.svg {
    display: inline-block;
    cursor: pointer;
    transition: fill 0.3s ease, stroke 0.3s ease;
}


.svg {
    display: inline-block;
    cursor: pointer;
    transition: fill 0.3s ease, stroke 0.3s ease;
    width: 21px;
    height: 24px;
}

.botoom_header .svg:hover {
    stroke: #00A64C;
    fill: #000;

}


.slogan_title,
.log_in,
.sign_up {
    display: inline-block;
    cursor: pointer;
    transition: color 0.3s ease;
}

.slogan_title:hover,
.log_in:hover,
.sign_up:hover {
    color: #01813F;
}



.main_container {
    width: 444px;
    margin-top: 53px;
    margin-left: auto;
    margin-right: auto;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    padding-bottom: 38px;
}

.form_title {
    display: flex;
    justify-content: flex-start;
    margin: 28px auto 0 0;
}

.sign_up_form {
    margin-top: 31px;
    margin-left: 43px;
    color: #434343;
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.log_in_form {
    margin-top: 32px;
    margin-left: 216px;
    color: #01813F;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-decoration: none;
    /* Видаляємо підкреслення за замовчуванням */
    transition: color 0.3s ease, text-decoration-color 0.3s ease-in-out;
    /* Додали перехід для зміни кольору тексту та підкреслення */
}

.log_in_form:hover {
    color: #00A64C;
    /* Змінюємо колір тексту при наведенні */
    text-decoration: underline;
    /* Додаємо підкреслення при наведенні */
    text-decoration-color: #00A64C;
    /* Змінюємо колір підкреслення при наведенні */
}

.button_container {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    margin-left: 60px;
    margin-right: 60px;

}

.facebook_button,
.google_button {
    width: 160px;
    /* Фіксована ширина кнопок */
    height: 48px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    background-color: rgba(48, 93, 184, 1);
    /* Для Facebook */
    border-radius: 3px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: none;
}

.border_left_facebook {
    border-left: 1px solid rgba(10, 22, 47, 0.1);
    padding-left: 17px;
    width: 1px;
    height: 28px;
}

.border_left_Google {
    border-left: 1px solid rgba(10, 22, 47, 0.1);
    padding-left: 17px;
    width: 1px;
    height: 28px;
}


.facebook_button svg,
.google_icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.facebook_button_svg {
    padding-left: 10px;
}

.google_button {
    background-color: rgba(220, 78, 65, 1);
    /* Для Google */
}

.or {
    position: relative;
    text-align: center;
    margin: 20px 0 0;
    color: #848484;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin-left: 58px;
    margin-right: 60px;
}

.or::before,
.or::after {
    content: '';
    width: calc((100% - 152px) / 2);
    height: 1px;
    background-color: rgba(242, 242, 242, 1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.or::before {
    left: 0;
}

.or::after {
    right: 0;
}

.or {
    color: #848484;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.form_group {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

.form_group input,
.form_group label {
    width: 322px;
    height: 44px;
    margin-bottom: 16px;
}

input[name="first_name"],
input[name="last_name"],
input[name="email"],
input[name="password"],
input[name="confirm_password"] {
    padding-left: 16px;
}

.checkbox_label {
    margin-left: 60px;
}

.checkbox_input {
    display: none;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.00);
}


.custom_checkbox {
    display: inline-block;
    width: 16px;
    height: 17px;
    position: relative;
    vertical-align: middle;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.00);
}

.custom_checkbox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none"><path d="M1 7.5L7 14.5L15 1" stroke="%233CB878" stroke-width="2"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.checkbox_input:checked+.custom_checkbox::before {
    opacity: 1;
}


.checkbox_label_terms {
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    transition: text-decoration-color 0.3s ease-in-out;
}

.checkbox_label_text:hover .checkbox_label_terms {
    text-decoration: underline;
    text-decoration-color: rgba(1, 129, 63, 1);
}

.agree_text {
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;

}

.botton_submit {
    margin-top: 0px;
    width: 324px;
    height: 46px;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    border-radius: 4px;
    border: none;
    background: rgba(60, 184, 120, 0.80);
    text-align: center;
    display: block;
    margin: 0 auto;
}


/* Світла тема */
.light-theme {
    background-color: #FFFFFF;
    background-image: none;
}

/* Темна тема */
.dark-theme {
    background-color: #333333;
    background-image: none;
}
